<template name="header">
	<section id="header">
		{{>connectionBanner}}
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						{{#if iWantsCounter}}
							<span id="badge-counter" class="badge badge-success pull-right"><i class="fa fa-bell fa-3"></i>{{iWantsCounter}}</span>
						{{else}}
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						{{/if}}
					</button>

					<a class="navbar-brand" href="/">iWant</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!-- <li class="{{isActiveRoute regex='^jobs$'}}"><a href="{{pathFor 'jobs'}}">Jobs</a></li>
						<li class="{{isActiveRoute regex='profiles'}}"><a href="{{pathFor 'profiles'}}">Developers</a></li>
						{{#if currentUser}}
							<li class="{{isActiveRoute regex='jobNew'}}"><a href="{{pathFor 'jobNew'}}">Post a Job</a></li>
							{{#unless currentUser.isDeveloper}}
								<li class="{{isActiveRoute regex='^profile$'}}">
									<a href="{{pathFor 'profileNew'}}">Create Developer Profile</a>
								</li>
							{{/unless}}
						{{/if}} -->

					</ul>
					<ul class="nav navbar-nav navbar-right">
						{{#if currentUser}}
							<!-- <li>
									<a href="#"
										data-html="true"
										data-placement="bottom"
										data-toggle="popover"
										data-content="Notification 1<br/>Notification 2"
										data-original-title="Notifications">
										<i class="fa fa-bell fa-3"></i><span class="badge badge-success">{{iWantsCounter}}</span>
									</a>
							</li> -->
							<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bell fa-3"></i><span class="badge badge-success">{{iWantsCounter}}</span></a>
			          {{#if iWantsCounter}}

									<ul class="dropdown-menu" role="menu">
										{{#each wants}}
											<li><a class="{{#if this.hasGiver}}accepted-want{{/if}}" href="{{#if this.hasGiver}}{{ pathFor 'chat' _id=this._id }}{{else}}{{ pathFor 'accept' _id=this._id }}{{/if}}">{{this.neederName}} | <b>{{tag}}</b> {{#if this.hasGiver}}<i class="fa fa-comment fa-3"></i>{{/if}}</a></li>
										{{/each}}

				            <!-- <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Separated link</a></li> -->
				          </ul>
			          {{/if}}
			        </li>
							<li id="user-drop-down" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'profile'}}">
									{{> avatar user=currentUser size="small"}}{{currentUserDisplayName}}
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="{{pathFor 'wants'}}"><i class="fa fa-gift fa-fw"></i>My iWants</a>
									</li>
									<li class="divider"></li>
									<!-- {{#if isInRole 'admin'}}
										<li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin</a></li>
										<li class="divider"></li>
									{{/if}}
									{{#if currentUser.isDeveloper}}
										<li>
											{{#with profile}}<a href="{{pathFor 'profile'}}"><i class="fa fa-rocket fa-fw"></i> Developer Profile</a>{{/with}}
										</li>
									{{else}}
										<li>
											<a href="{{pathFor 'profileNew'}}"><i class="fa fa-rocket fa-fw"></i> Create Developer Profile</a>
										</li>
									{{/if}} -->
									<li>
										<a href="#" id="userProfile"><i class="fa fa-user fa-fw"></i> User Profile</a>
									 </li>
									<li class="divider"></li>
									<li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
								</ul>
							</li>

						{{else}}
							<li class="{{isActiveRoute regex='signIn'}}"><a href="{{pathFor 'signIn'}}">Log In</a></li>
							<li class="{{isActiveRoute regex='signUp'}}"><a href="{{pathFor 'signUp'}}">Sign Up</a></li>
						{{/if}}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</section>
</template>
