<template name="map">
  <!-- <div class="button_next">
      <ul class="pager">
        {{#autoForm id="insertWants" collection="Wants" doc=this type="insert"}}
          {{> afQuickField id="map_tags" name='tag' placeholder="Coffee Boobs"}}
            <div>

                <button id="cancel" class="btn btn-default">Cancel</button>
            </div>
        {{/autoForm}}
        <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
      </ul>

  </div> -->

    <div id="map" class="map">
      <input id="iWantTag" class="form-control" type="text" placeholder="Coffee Boobs">
      <button type="submit" id="iWantMap" class="btn btn-primary iWantMap">iWant</button>
    </div>
</template>
