<template name="map">
  <!-- <div class="button_next">
      <ul class="pager">
        {{#autoForm id="insertWants" collection="Wants" doc=this type="insert"}}
          {{> afQuickField id="map_tags" name='tag' placeholder="Coffee Boobs"}}
            <div>

                <button id="cancel" class="btn btn-default">Cancel</button>
            </div>
        {{/autoForm}}
        <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
      </ul>

  </div> -->
    <div class="row form-inline little-space-bigscreen">
        <fieldset>
            <!-- <div class="col-xs-2 col-md-4">
              <label for="date">Tag</label>
            </div> -->
            <div class="form-group col-xs-5 col-sm-2">
              <input id="iWantTag" class="form-control" type="text" placeholder="Coffee Pizza">
            </div>
            <div class="form-group col-xs-5 .col-sm-2">
              <button type="submit" id="iWantMap" class="btn btn-primary iWantMap">iWant</button>
            </div>
        </fieldset>
    </div>


    <div id="map" class="map">
    </div>
</template>
