<template name="want">

      <div class="row">
        <div class="block-center text-center col-xs-2">
          <p>{{neederName}}</p>
          <!-- <img src={{profile.photo_path}}> -->
          <!-- <i class="fa fa-times fa-6 text-danger ignore"></i> -->
        </div>

        <div class="col-xs-8">
          <div class="tags text-center ">
            {{tag}}
          </div>
        </div>

        <div class="col-xs-2 block-center text-center ">
          <i class="fa fa-check text-success ok"></i>
        </div>
      </div>

      <div class="profile">

      <!-- <img src={{profile.photo_path}}> -->
      </div>

</template>
