<template name="home">
	{{#if currentUser}}

		<div class="container text-center">
			<div class="row">
				<div class="col-xs-6">
					<a href="{{pathFor 'map'}}"><i class="fa fa-building fa-fw"></i>Something</a>
					<!-- {{>jobsRecent}} -->
				</div>
				<div class="col-xs-6">
					To give
					<!-- {{>profilesRecent}} -->
				</div>
			</div>
		</div>
	{{else}}
		<div class="jumbotron container-fluid">
			<div class="container text-center">
				<div class="row">
					<h1><img src="/images/favicons/mstile-144x144.png" /></h1>
				</div>
			</div>
		</div>
	{{/if}}
</template>
